.container-top-games {
  width: 100%;
  min-height: 1268px;
  background-image: url("../../assets/images/top3.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.list-genders {
  display: flex;
  margin-top: 50px;
  border: 1px solid var(--primary1);
  width: 90vw;
  padding: 20px;
  border-radius: 12px;
  color: #fff;
  z-index: 1;
  overflow-x: scroll;
}

.generos {
  flex: 0 0 auto;
  width: 100%;
}
