.secao-catalogo{
    width: 80vw;
    display:flex;
    justify-content: center;
    column-gap: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
    flex-wrap: wrap;
    border-bottom: 4px solid var(--primary1);
    border-radius: 4px;
}